* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e9ecef;
  font-size: 18px !important;
}

ul li {
  text-decoration: none !important;
  list-style: none !important;
}

.App {
  display: grid;
  grid-template:
    "navHorizontal"
    "container";
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .App {
    display: grid;
    grid-template: "navVertical" "container";
    grid-template-columns: 1.25fr 5fr;
  }
}

.navbar {
  grid-area: "navHorizontal" !important;
}

.nav-vertical {
  grid-area: "navVertical";
}

.container-fluid {
  grid-area: "container";
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}

.navbar button {
  transform: scale(1.5);
  border: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}

a.text-secondary:hover {
  color: #ffb400 !important;
  transition: all 1s ease-out;
}

.App {
  overflow: hidden;
}

.navbar {
  z-index: 10;
}

.img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid #5a6169;
}

.social-icons a {
  height: 3.5rem;
  width: 3.5rem;
  background-color: #5a6169;
  color: #fff !important;
  border-radius: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  transition: all 0.3s linear;
}

.social-icons a:hover {
  background-color: #ffb400;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.item-1 {
  grid-area: one;
}
.item-2 {
  grid-area: two;
}
.item-3 {
  grid-area: three;
}
.item-4 {
  grid-area: four;
}
.item-5 {
  grid-area: five;
}
.item-6 {
  grid-area: six;
}
.item-7 {
  grid-area: seven;
}
.item-8 {
  grid-area: eight;
}

.img-container {
  position: relative;
  overflow: hidden;
  /* width: 100%;
  height: 100%; */
}

.img-container img {
  display: block;
  width: 100%;
  height: 100%;
  /* min-height: 12rem; */
  transition: all 0.3s linear;
  cursor: pointer;
  object-fit: cover;
}

.img-container:hover img {
  opacity: 0.2;
}

.img-description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  opacity: 0;
}

.img-container:hover .img-description {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.5s ease-out;
}

.img-icons i {
  transition: all 0.3s ease-out;
}

.img-icons a:hover i {
  color: #ffb400 !important;
}

/* .grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5em;
} */

@media screen and (min-width: 991px) {
  .grid {
    display: grid;
    width: 50vw;
    height: 70vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
      "one one two three"
      "one one four four"
      "five six eight eight"
      "five seven eight eight";
  }
}
